<nav class="navbar fixed-top px-5 navbar-expand-lg navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand" href="#">Angular App</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/admin">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/signup">Sign Up</a>
      <a class="nav-item nav-link" routerLink="/user">User</a>
    </div>
  </div> -->
  <div>
    <button class="btn btn-light" (click)="logout()">Logout</button>
  </div>
</nav>
