.user{
    padding-top: 50px
}
.name{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
#subject{
    font-size: 16px;
    text-transform: uppercase;
}

.noreq{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: rgb(197, 197, 197);
}